*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    background-color:beige;
}

#top-bar{
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 1rem;
    padding: 0.5rem 1rem;
}
#top-bar h1{
    font-size: 2rem;
    font-weight: bolder;
}

#top-bar input{
    width: 15rem;
    height: 1rem;
   padding: 1rem 1rem;
   margin: 0 2px;
   border-color: aliceblue;
   outline: 0;
   border-radius: 0.5rem;
}

#top-bar .btn{
    width: 5rem;
    height: 2rem;
    border-radius: 0.5rem;
    outline: 0;
    border: 0;
    border-color: aliceblue;
    background-color: rgb(45, 40, 40);
    color: aliceblue;
    cursor: pointer;
}

#news-content{
    width: 80%;
    margin:auto;
    /* border: 2px solid red; */
    padding: 1rem;
    display: grid;
    grid-template-columns:1fr 1fr 1fr ;
    grid-gap: 5rem;
    background-color: aliceblue;
    
}


.news img {
    width: 20rem;
    height: 10rem;
    margin-top: 0.5rem;
}